---
import "../styles/global.css"
import HeaderNav from "../layouts/HeaderNav.astro";
import HeaderTitle from "../layouts/HeaderTitle.astro";
import SocialBtnContainer from "../layouts/SocialBtnContainer.astro"

const pageTitle = 'AIMS League'
const pageDescription = 'AIMS is an intercontinental motorsport league in Gran Turismo 7'
---

<html lang="en">
	<head>
		<!-- pageTitle is referecned above in Astro's "Frontmatter" -->
		<title>{pageTitle}</title>

		<!-- Basic Meta Tags for SEO and such -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <!-- <meta property="og:image" content="" />
    <meta property="og:url" content="" /> -->
		<meta property="og:site_name" content="AIMS League" />
    <!-- <meta name="twitter:card" content="" /> -->
    <meta name="twitter:image:alt" content="" />

		<!-- DO NOT REMOVE THIS LINE. NECESSARY FOR ASTRO -->
		<meta name="generator" content={Astro.generator} />

		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!-- Fontawesome Icons Script -->
		<script
      is:inline
      src="https://kit.fontawesome.com/dec2579292.js"
      crossorigin="anonymous"></script>
		
	</head>
	<body>
		<header>
			<HeaderNav />
			<div id='header-hero' class='flex flex-col h-full justify-center'>
				<HeaderTitle pageTitle = {pageTitle} pageDescription={pageDescription}/>
				<SocialBtnContainer />
			</div>
	</header>
	<main id="main">
		<section>
			<h2>Current Series</h2>
			<p>We are currently running our Manufacturer Series in Gr. 3 cars as well as an MX-5 Cup Series.</p>
				<section id='upcoming-events'>
				<h3>Upcoming Events</h3>
				<article>
					<p>Manufacturer Series</p>
					<h4>Circuit de Spa-Francorchamps 24h (Belgium)</h4>
					<p>Sunday, October 29 @ 1:00pm EST</p>
				</article>
				<article>
					<p>MX-5 Cup Series</p>
					<h4>Road Atlanta (United States)</h4>
					<p>Sunday, November 5 @ 1:00pm EST</p>
				</article>
				<article>
					<p>Manufacturer Series</p>
					<h4>Nurburgring GP (Germany) - Sprint Race</h4>
					<h4>Nurburgring 24h Layout (Germany) - Feature Race</h4>
					<p>Sunday, November 12 @ 1:00pm EST</p>
				</article>
			</section>
		</section>
		
		<section id='past-events'>
			<h3>Past Events</h3>
			<article>
				<p>Manufacturer Series</p>
				<h4>Circuit de Spa-Francorchamps 24h (Belgium)</h4>
				<p>Sunday, October 29 @ 1:00pm EST</p>
			</article>
			<article>
				<p>MX-5 Cup Series</p>
				<h4>Road Atlanta (United States)</h4>
				<p>Sunday, November 5 @ 1:00pm EST</p>
			</article>
			<article>
				<p>Manufacturer Series</p>
				<h4>Nurburgring GP (Germany) - Sprint Race</h4>
				<h4>Nurburgring 24h Layout (Germany) - Feature Race</h4>
				<p>Sunday, November 12 @ 1:00pm EST</p>
			</article>
		</section>
	</main>
	</body>
</html>
